---
import type { HTMLAttributes, HTMLTag } from 'astro/types'
import { findPaginationEntries } from './utils.js'

export interface Props extends Omit<HTMLAttributes<'ul'>, 'slot'> {
  as?: HTMLTag
  nextLabel: string
  prevLabel: string
}

const { as: Component = 'ol', nextLabel, prevLabel, ...attrs } = Astro.props

const { next, prev } = await findPaginationEntries('pages', Astro.url.pathname)
---

<Component {...attrs}>
  {
    prev && (
      <a href={prev.url} aria-label={prevLabel}>
        {prev.title}
      </a>
    )
  }
  {
    next && (
      <a href={next.url} aria-label={nextLabel}>
        {next.title}
      </a>
    )
  }
</Component>
