---
import { findPaginationEntries } from './utils.js'
import type { HTMLAttributes } from './utils.js'

export interface Props extends HTMLAttributes {
  as?: string
  nextLabel: string
  prevLabel: string
}

const { as: Component = 'ol', nextLabel, prevLabel, ...attrs } = Astro.props

const { next, prev } = findPaginationEntries(Astro.url.pathname)
---

<Component {...attrs}>
  {
    prev && (
      <a href={prev.url} aria-label={prevLabel}>
        {prev.title}
      </a>
    )
  }
  {
    next && (
      <a href={next.url} aria-label={nextLabel}>
        {next.title}
      </a>
    )
  }
</Component>
